<nav>
  <div class="nav-wrapper">
    <a routerLink="/" class="brand-logo">&nbsp;Game of Drones</a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/ranking" data-delay="10" data-position="bottom" data-tooltip="Ranking" materialize="tooltip"><i class="material-icons">stars</i></a></li>
      <li><a routerLink="/about" data-delay="10" data-position="bottom" data-tooltip="About" materialize="tooltip"><i class="material-icons">info</i></a></li>
      <li><a routerLink="/config" data-delay="10" data-position="bottom" data-tooltip="Settings" materialize="tooltip"><i class="material-icons">settings</i></a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
